* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.form{ 
  padding-top: 1rem;
  width: 100%;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}
button {
  cursor: pointer;
}

.Passwords {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.password {
  /* width: 400px; */
  width: 20rem;
  height: 70px;
  background-color: black;
  border-radius: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: .25rem;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.bold {
  font-weight: 900;
  font-size: 1.3rem;

}


 .info {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

} 
.modal_sytle{
  position: fixed;
  top: 30%;
  background-color: rgba(64, 62, 62, .7);
  z-index: 1000;
  width: 20rem;
  display: flex;
}
.overlay_style{
  position: fixed;
  top: 30%;
  color:yELLOW;
  background-color:rgba(64, 62, 62, 0.9);
  z-index: 1000;
  width: 20rem;;
}